.row
  .col-sm-10.col-sm-offset-1
    .row
      .col-sm-6
        %h2.text-center
          %span.label.label-default
            Your places
        %hr
        .list-group
          - places.each do |place|
            = link_to place, class: 'list-group-item' do
              %h4.list-group-item-heading
                = place.name
              %p.list-group-item-text
                = place.description
      .col-sm-6
        %h2.text-center
          %span.label.label-info
            Places you rented
        %hr
        .list-group
          - bookings.each do |booking|
            = link_to booking.place, class: 'list-group-item' do
              %h4.list-group-item-heading
                = booking.place.name
                - if booking.confirmed?
                  %span.label.label-success
                    Booking confirmed

              %p.list-group-item-text
                = 'from ' + pretty_date(booking.date_from) + ' to ' + pretty_date(booking.date_to)
              %p.list-group-item-text
                = booking.place.description
