%h2 Bookings
%table.table.table-striped
  %tr
    %th Name
    %th User
    %th Bookings
    %th
    %th
    %th
  - bookings.each do |booking|
    %tr
      %td= booking.place.name
      %td= booking.user.email
      %td= bookings.size
      %td= link_to 'Show', booking_path(booking)
      %td= link_to 'Edit', edit_booking_path(booking)
      %td= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' }
