%h2
  %b= booking.place.name

%p= booking.place.description
%p
  Price:
  = booking.place.price
%p
  User:
  = booking.user.email
%p
  Booked:
  = time_ago_in_words(booking.created_at)
  ago.

%p
  Reservation from:
  = booking.date_from.to_date
  to
  = booking.date_to.to_date
  that is
  = booking_period
%p
  Total price:
  = booking.place.price*booking_period.to_i

= link_to 'Back to bookings', bookings_path, class: 'btn btn-default'
= link_to 'Accept', accept_booking_path(booking), class: 'btn btn-success', method: :post
= link_to 'Reject', decline_booking_path(booking), class: 'btn btn-danger', method: :post