.row
  .col-xs-6
    = simple_form_for place do |f|
      = f.input :name, required: false
      = f.input :description, required: false
      = f.input :city, required: false
      = f.input :street, required: false
      = f.input :price, required: false
      = f.input :available_from, as: :string, required: false
      = f.input :available_to, as: :string, required: false
      = f.input :beds, required: false
      = f.button :submit
