%h2 Places
%h3
  = link_to '+ add place', new_place_path
%table.table.table-striped
  %tr
    %th Name
    %th Description
    %th Price
    %th City
    %th
    %th
    %th
  - places.each do |place|
    %tr 
      %td= place.name
      %td= truncate place.description, length: 15
      %td= place.price
      %td= place.city
      %td= link_to 'Show', place_path(place)
      - if place.owned_by?(current_user)
        %td= link_to 'Edit', edit_place_path(place)
        %td= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' }
