%nav.navbar.navbar-default.navbar-inverse{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "BookingApp", root_url, class: 'navbar-brand active'
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      = simple_form_for :query, url: search_index_path, method: :get do |f|
        .navbar-form.navbar-left
          = f.input :query, label: false, input_html: { class: 'input form-control' }, placeholder: 'Search', wrapper_html: { class: 'form-group' }
          = f.submit 'Search', class: 'btn btn-default'
      %ul.nav.navbar-nav
        %li{:class => [params[:controller], params[:action]] == ["places", 'index'] ? "active" : ""}
          =link_to 'Places', places_path

       
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to current_user.email, root_url
          %li
            = link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          %li
            = link_to "Sign up", new_user_registration_path
          %li
            = link_to "Sign in", new_user_session_path
