!!!
%html
  %head
    %title Bookingapp
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body

    = render 'layouts/navbar'

    .container
      -if flash[:error].present?
        .alert.alert-danger{ role: 'alert' }= flash[:error] 
      -if notice.present?
        .alert.alert-success{ role: 'alert'}= notice
      -if alert.present?
        .alert.alert-success{ role: 'alert'}= alert
      = yield
