!!!
%html
  %head
    %title Bookingapp
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body

    = render 'layouts/navbar'

    .container
      %p.bg-danger= flash[:error]
      %p.bg-success= notice
      %p.bg-warning= alert 
      = yield
